.bandeau {
    width: 100%;
    min-height:207px;
    
    padding:em(50) 0;
    text-align: center;

    color:#fff;

    background-image: url('/application/images/background-bandeau.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;

    h1 {
        font-size: 70px;
        line-height: 40px;
        text-transform: uppercase;
        position: relative;
        top:5px;
        font-weight: 300;
        strong {
            display: block;
            font-weight: bold;
            font-size:0.643em;
            line-height: 60px;
            letter-spacing: 1.4px;;
        }
    }
    h2 {
        font-size:18px;
        text-transform:uppercase;
        font-weight: 500;
        margin-bottom:5px;
    }
    em {
        color:inherit;
        display: block;
        font-size:18px;
        text-transform: none;
    }
    .btn {
        margin-top: 20px;
    }
    a {
        color:#fff;
        &:hover {
            color:#3ab596;
        }
    }
    .tel {
        display: block;
        font-size:18px;
        font-weight: 300;
        &:before {
            @include fa-icon();
            content: $fa-var-phone;
            font-style: 20px;
            color:#fff;
            padding-right:10px;
        }
    }
    .mail {
        display: block;
        font-size: 18px;
        margin-top: 5px;
        font-weight: 300;
        &:before {
            @include fa-icon();
            content: $fa-var-envelope;
            font-style: 20px;
            color:#fff;
            padding-right:10px;
        }
    }
}


@media only screen and (max-width:  640px) {

    .bandeau {
        h1 {
            font-size: 54px;
            line-height: 17px;
            strong {
                font-size:0.643em;
                line-height: 60px;
                letter-spacing: 1.4px;;
            }
        }
        h2 {
            font-size:17px;
            font-weight: 300;
            letter-spacing: -0.4px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        em {
            font-size:18px;
            line-height: 1.2;
        }
    }
}

@media only screen and (max-width:  1024px) {
    .bandeau {
        > .row {
            > .columns {
                margin-bottom: 20px;
            }
        }
    }
}


.bandeau-video {
    width: 100%;
    min-height:207px;
    padding:em(50) 0;
    color:#61606b;
    background-color:#ededed;

    .btn {
        margin-top: 20px;
    }

    .follow {
        text-transform: uppercase;
        text-align: right;
        font-size:16px;
        color:inherit;
        a {
            &:after {
                @include fa-icon();
                content: $fa-var-youtube-play;
                color:#3ab596;
                padding-left:5px;
                transition: color 250ms;
            }
            &:hover {
                &:after {
                    color:#61606b;
                }
            }
        }
    }

    
}

@media only screen and (max-width: 640px) {
    .bandeau-video {
        .follow {
            text-align: left;
            /*margin:30px 0 0 0;*/
        }
    }
}



.bandeau-fanclub {
    width: 100%;
    padding:em(50) 0;
    color:#61606b;
    background-color:#3ab596;
    color:#fff;
    position:relative;

    > a {
        width:65px;
        height:30px;
        border-radius: 90px 90px 0 0;
        background:#3ab596;
        left:50%;
        margin-left: -32.5px;
        position: absolute;
        top:-30px;

        &:before {
            @include fa-icon();
            content: $fa-var-chevron-down;
            width: 100%;
            height: 100%;
            color:#fff;
            text-align: center;
            margin-top: 8px;
            font-size: 16px;
        }
    }
    
    .title_section {
        color:#fff;
        margin-bottom: 30px;
    }
    ul {
        li {
            span {
                font-size:18px;
                font-weight: bold;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
    form {
        #{$all-text-inputs} {
            width: 100%;
            border:0;
            background-color:#33ad8d;
            color:#fff;
            font-family: 'Open Sans', sans-serif;
            padding:em(10);
            margin-top: 0;
            font-size:12px;
            margin-bottom: 15px;

            &::-webkit-input-placeholder {
                color:#fff;
            }
            &:-moz-placeholder {
                color:#fff;
            }
            &::-moz-placeholder {
                color:#fff;
            }
            &:-ms-input-placeholder { 
                color:#fff;
            }

            &.parsley-error {
                background-color: #f7e2e2;
                border: 1px solid #e53030;
            }
        }
        .parsley-errors-list {
            display: none;
        }
        .submit-container {
            position:relative;

            #{$all-text-inputs} {
                padding-right: 40px;
            }
            button {
                position: absolute;
                top:0;
                right:0;
                width: 30px;
                height: calc(100% - 15px);
                background:#33ad8d;
                &:before {
                    @include fa-icon();
                    content: $fa-var-arrow-right;
                }
            }    
        }
        
    }
}


@media only screen and (max-width: 640px) {
    .bandeau-fanclub {
        form {
            margin-top: 20px;
        }
    }
}


.bandeau-infolettre {
    padding:10px 0;
    border-top:1px solid #e6e6e6;

    span {
        display: block;
        width: 100%;
        color:#3ab596;
        text-transform: uppercase;
        line-height: 33px;
        text-align: right;
        font-weight: bold;

        &:before {
            @include fa-icon();
            content: $fa-var-send-o;
        }
    }
    .merci {
        display: none;
    }
    #{$all-text-inputs} {
        margin:0;
        background:#fff;
        color:#61606b;
    }
    input[type=submit] {
        margin:0;
    }
    .btn {
    }
}

@media only screen and (max-width: 640px) {
    .bandeau-infolettre {
        span {
            text-align: center;
        }
        .columns {
            margin-bottom: 20px;

        }
        .columns:last-child {
            text-align: right;
        }
    }
}




.bandeau-gala {
    > .row {
        height: 330px;
        padding:30px 0;
        background-repeat: no-repeat;
        background-position: 185px bottom;
    }
    .animation {
        font-size:15px;
        line-height: 18px;
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 30px;
        color:#666666;
        span {
            color:#ed494b;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .animateur {
        display: inline-block;
        width: 90px;
        float: right;
        margin-right:20px;
        font-weight: 300;
        color:#666666;
        font-size: 15px;
        line-height: 1;
        strong {
            color:#ed494b;
            text-transform: uppercase;
            display: block;
        }
        img {
            padding-bottom: 10px;
        }
    }

    .title_section {
        strong {
            color:#3ab596;
        }
    }
    .billetterie {
        margin-top: 10px;
        font-size:14px;
        color:#ed494b;
        font-weight: bold;
        text-transform: uppercase;
        .tel {
            font-weight: 300;
            color:#666666;
            font-size:18px;
        }
        a {
            color: #666666;
            font-weight: bold;
            text-transform: none;

        }
        * {
            display: block;
        }
        i {
            display: inline-block;
        }
    }
}
.btn-container {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}


@media only screen and (max-width: 910px) {
    .bandeau-gala {
        > .row {
            background:none !important;
            height: auto;
        }
        .clearfix {
            /*margin-top: 50px;*/
        }
        .animateur {
            float: none;
            margin-bottom: 20px;

        }
    }
    .btn-container {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 640px) {
    .bandeau-gala {
        .clearfix {
            margin-top: 50px;
        }
    }
}
 